@import url("https://fonts.googleapis.com/css?family=Noto+Sans+JP:400&subset=japanese");

@font-face {
    font-family: "Orkney";
    font-style: normal;
    font-weight: 400;
    src: url("../font/OrkneyRegular.woff") format("woff");
}
  
@font-face {
font-family: "Orkney";
font-style: italic;
font-weight: 400;
src: url("../font/OrkneyRegularItalic.woff") format("woff");
}

@font-face {
font-family: "Mazius";
font-style: normal;
font-weight: 400;
src: url("../font/MaziusDisplayRegular.woff") format("woff");
}

@font-face {
    font-family: "PP Eiko Italic";
    font-style: italic;
    font-weight: 100;
    src: url("../font/PPEiko-LightItalic.woff") format("woff");
}

$jp-base-font: "Noto Sans JP";
$en-base-font: "Orkney";
$en-head-font: "PP Eiko Italic";

$base-font-size: calc(11px + -1 * (100vw - 480px) / 520);

.jp, .jp * {
    font-size: 11px;
    font-family: $jp-base-font;
    font-weight: 400;
    letter-spacing: -.03em;
    line-height: 1.6;
  }

.en, .en * {
    font-size: calc(11px + -1 * (100vw - 480px) / 520);
    font-family: $en-base-font;
    font-weight: 400;
    line-height: 1.6;
}
  
@media (min-width: 480px) {
    .jp, .jp * {
        font-size: calc(11px + -1 * (100vw - 480px) / 520);
    }
}

@media (min-width: 1000px) {
    .jp, .jp * {
        font-size: 10px;
    }
}
