@import url("https://fonts.googleapis.com/css?family=Noto+Sans+JP:400&subset=japanese");
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,700;1,400&display=swap');

$jp-base-font: "Noto Sans JP";
$en-base-font: "DM Sans";


:root {
   --jp-base-font-size: calc(12px + 1 * (100vw - 320px) / 960);
   --jp-small-font-size: calc(12px + 0.75 * (100vw - 320px) / 960);
   --en-base-font-size: calc(13px + -.2 * (100vw - 320px) / 960);
   --head-font-size: 10vw;
}

h1, h2, h3, h4, h5, h6, p, ul, li, a, b, sup, sub, time, figure, figcaption, ::before, ::after {
   font-size: inherit;
   font-weight: inherit;
   font-style: inherit;
   color: inherit;
   line-height: inherit;
   vertical-align: inherit;
   transition: inherit;
   cursor: default;
}

a {
   font-size: 6.666vw;
   letter-spacing: -.04em;
}

h3, p, time {
   font-size: var(--en-base-font-size);
   line-height: 1.98em;
}

figcaption {
   p {
      font-size: var(--jp-small-font-size) !important;
   }
}

.jp, .jp * {
   font-size: var(--jp-base-font-size);
   font-family: $jp-base-font;
   font-weight: 400;
   letter-spacing: -.03em;
   line-height: 2.016em;
}

.en, .en * {
   font-size: var(--en-base-font-size);
   font-weight: 400;
}

.kyoko {
   font-size: 2rem;
}

.header--link {
   a {
      font-family: $en-base-font;
      font-size: 2rem;
   }
}

.footer, time, .list--head li {
   font-size: var(--jp-base-font-size);
}

.list--list li {
   &::before, &::after {
      font-family: $en-base-font;
      font-size: var(--jp-base-font-size);
      white-space: nowrap;
   }
}

.title {
   font-size: 15vw;
}

.title--year {
   font-size: .45em;
   letter-spacing: -.04em;
}

.bio {
   align-self: end;
}

.project-role-year {
   p {
      font-size: var(--jp-base-font-size);
   }
}

.project-title {
   margin: 6rem 0;
   font-size: var(--head-font-size);
   line-height: 1.2;
   text-align: right;
   text-transform: uppercase;
   word-wrap: normal;
}

.section-title {
   font-size: var(--head-font-size);
   line-height: 1.2;
   letter-spacing: -.03em;
}

@include mq(sm) {
   :root {
      --head-font-size: 8.333vw;
   }
   a {
      font-size: 6.25vw;
   }
}

@include mq(md) {
   :root {
      --head-font-size: 6rem;
   }
   a {
      font-size: 4.8rem;
   }
}

@include mq(lg) {
   .title {
      font-size: 12.5vw;
   }
}

@include mq(xxl) {
   .title {
      font-size: 20rem;
   }
}
