.project-info {
   display: grid;
   grid-template-columns: 1fr;
   margin: 0 auto;
   margin-bottom: var(--content-space);
}

.project-dot {
   display: flex;
   flex-direction: row;
   margin-bottom: 2rem;
   &::before {
      content: "â—";
      margin-right: 0.4rem;
   }
}

.project-role-year {
   time {
      display: block;
      padding-top: 1em;
   }
}

.info--title {
   h3 {
      font-weight: 700;
      margin-bottom: .6em;
      text-transform: uppercase;
   }
}

.info--desc {
   p {
      margin: 3em 0 2em;
   }

   span:nth-of-type(2) {
      display: block;
      padding-top: .8em;
   }
}

.project-description {
   p {
      margin: 0;
      &:last-of-type {
         margin-top: var(--gutter);
      }
   }
}

.para {
   margin: var(--content-space) 0;
}

.section-title {
   margin: var(--gutter) 0;
}

.image {
   display: grid;
   grid-template-columns: 1fr;
   position: relative;
   figure {
      height: calc((100vw - var(--gutter) * 2) / 1.618);
      background: black;
      padding: 10%;
      overflow: hidden;
      &.h0 {
         height: auto !important;
      }
      &.p0 {
         padding: 0;
      }
   }
   .spacer-2 {
      display: none;
   }
}

figure + figure {
   margin-top: var(--gutter);
}

video {
   display: flex;
   justify-content: center;
   width: 100%;
   max-height: 75vh;
   padding: 15% 12.5%;
   background: black;
}

figcaption {
   padding-top: 2.4em;
}

.full {
   width: 100vw;
   margin-left: calc(-1 * var(--gutter));
}

@include mq(md) {

   .project-info {
      grid-auto-columns: min-content;
      padding-left: 0;
   }

   .project-intro {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      flex-shrink: 1;
      gap: var(--gutter);
      & > * {
         width: 50%;
      }
   }

   .project-description, figcaption {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      gap: var(--gutter);
      p {
         flex: 1;
         &:last-of-type {
            margin-top: 0;
         }
      }
   }

   video {
      padding: 8%;
   }

   .full {
      width: 100%;
      margin-left: 0;
   }

   .small {
      padding: 0 5%;
   }

   .image {
      grid-template-columns: 1fr;
      figure {
         &.c-1 {
            height: calc((100vw - var(--gutter) * 2) / 1.618);
         }
         &.c-2 {
            height: calc(((100vw - var(--gutter) * 2) - var(--gap)) / 2 / 1.618);
         }
      }
      .spacer-2 {
         display: block;
         grid-column: auto / span 3;
      }
   }
   figcaption {
      margin: 0 auto;
   }
}

@include mq(lg) {
   .project-title {
      padding-left: calc(25% + var(--gap));
   }
   .small {
      padding: 0 12.5%
   }
}
