.info {
	display: grid;
	grid-template-columns: 1fr;
	margin:0 auto;
	margin-bottom: 6rem;
	max-width: 90rem;
}

.project-nickname {
    line-height: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 2rem;
    &::before {
        content: "●";
        display: block;
        width: 1em;
        height: 1em;
        margin-right: .4rem;
    }
}

.project-role-year {
    time {
      display: block;
      padding-top: 2rem;
    }
  }

.info--title {
    h3 {
        font-weight: 700;
        margin-bottom: .6em;
        text-transform: uppercase;
    }
    &.new {
        margin: 6rem 0;
        h1 {
            font-family: $en-head-font;
            font-size: 10.2vw;
            line-height: 1.2;
            text-align: right;
            text-transform: uppercase;
        }   
    }
}

.info--desc {
    p {
        margin: 3em 0 2em;
    }
    span:nth-of-type(2) {
        display: block;
        padding-top: .8em;
    }
}

.project-description {
    p {
        margin: 0;
        &:last-of-type {
            margin-top: 2rem;
        }
    }
    p:not(.jp) {
        text-transform: uppercase;
    }
}

.image {
    display: grid;
    grid-template-columns: 1fr;
    position: relative;
    margin: calc(var(--gap) * -1);
  
    figure {
      height: calc((100vw - var(--gutter) * 2) / 1.618);
      background: black;
      margin: var(--gap);
      padding: 10%;
      overflow: hidden;
  
      &.h0 {
        height: auto !important;
      }
  
      &.p0 {
        padding: 0;
      }
    }
  
    .spacer-2 {
      display: none;
    }
}

@media screen and (min-width: 768px) {
   .info {
		grid-auto-columns: min-content;
		padding-left: 50%;
		&.new {
			padding-left: 0;
			.project-intro {
			display: flex;
			flex-direction: row;
			align-items: flex-start;
			flex-shrink: 1;
			gap: var(--gutter);
				div {
					width: 50%;
				}
			}
		}
	}
    
	.info--title {
		&.new {
			h1 {
				font-size: 6.25vw;
				padding-right: var(--gap);
				padding-left: calc(25% + var(--gap));
			}
		}
	}

	.project-description {
		margin-right: calc(25% + var(--gap));
		display: flex;
		flex-direction: row;
		gap: var(--gutter);
		  	p {
				flex: 1;
				&:last-of-type {
            	margin-top: 0;
        		}
		  }
	}
    
	.image {
		grid-template-columns: 1fr;
	
		figure {
			&.c-1 {
			height: calc((100vw - var(--gutter) * 2) / 1.618);
			}
			&.c-2 {
			height: calc(((100vw - var(--gutter) * 2) - var(--gap)) / 2 / 1.618);
			}
		}
		.spacer-2 {
			display: block;
			grid-column: auto / span 3;
		}
	}
}