.info {
   display: grid;
   grid-template-columns: 1fr;
   margin: 0 auto;
   margin-bottom: var(--content-space);
}

.project-dot {
   display: flex;
   flex-direction: row;
   align-items: center;
   margin-bottom: 2rem;
   &::before {
      content: "â—";
      margin-right: 0.4rem;
   }
}

.project-role-year {
   time {
      display: block;
      padding-top: 1em;
   }
}

.info--title {
   h3 {
      font-weight: 700;
      margin-bottom: .6em;
      text-transform: uppercase;
   }
}

.info--desc {
   p {
      margin: 3em 0 2em;
   }

   span:nth-of-type(2) {
      display: block;
      padding-top: .8em;
   }
}

.project-description {
   p {
      margin: 0;
      &:last-of-type {
         margin-top: 4em;
      }
   }
}

.first-2 {
   grid-column: 1 / span 2;
}

.middle-2 {
   grid-column: 3 / span 2;
}

.last-2 {
   grid-column: 5 / span 2;
}

.para {
   margin: var(--content-space) 0;
}

.section-title {
   margin: var(--gutter) 0;
}

.image {
   display: grid;
   grid-template-columns: 1fr;
   position: relative;
   margin: calc(var(--gap) * -1);
   figure {
      height: calc((100vw - var(--gutter) * 2) / 1.618);
      background: black;
      margin: var(--gap);
      padding: 10%;
      overflow: hidden;
      &.h0 {
         height: auto !important;
      }
      &.p0 {
         padding: 0;
      }
   }
   .spacer-2 {
      display: none;
   }
}

img {
   &.full {
      width: 100vw;
      margin-left: calc(-1 * var(--gutter));
   }
}

figure + figure {
   margin-top: calc(var(--content-space) * .8);
}

figcaption {
   padding-top: 2em;
}

@include mq(md) {
   .info {
      grid-auto-columns: min-content;
      padding-left: 50%;
      &.new {
         padding-left: 0;
         .project-intro {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            flex-shrink: 1;
            gap: var(--gutter);
            & > * {
               width: 50%;
            }
         }
      }
   }

   .project-description,
   figcaption {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      gap: var(--gutter);
      p {
         flex: 1;
         &:last-of-type {
            margin-top: 0;
         }
      }
   }
   img {
      &.full {
         width: 100%;
         margin-left: 0;
      }
      &.small {
         padding: 0 12.5%;
      }
   }
   .image {
      grid-template-columns: 1fr;
      figure {
         &.c-1 {
            height: calc((100vw - var(--gutter) * 2) / 1.618);
         }
         &.c-2 {
            height: calc(((100vw - var(--gutter) * 2) - var(--gap)) / 2 / 1.618);
         }
      }
      .spacer-2 {
         display: block;
         grid-column: auto / span 3;
      }
   }
   figcaption {
      margin: 0 auto;
   }
}

@include mq(lg) {
   .project-title {
      padding-left: calc(25% + var(--gap));
   }
}
