@import "mixin";
@import "font";
@import "project";

$Beige: #F1DFC4;
$Orange: #FF611D;

:root {
   --gutter: 8vw;
   --alley: var(--gutter);
   --gap: 3.2vw;
   --content-space: 26.6666666667vw;
   --column: 6;
}

* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   -webkit-font-smoothing: antialiased;
   &::after,
   &::before {
      padding: 0;
      margin: 0;
      box-sizing: border-box;
   }
}

img {
   display: block;
   object-fit: contain;
   width: 100%;
   height: 100%;
}

ul, li {
   list-style: none;
}

a {
   text-decoration: none;
   cursor: pointer;
   &:visited {
      color: inherit;
   }
}

::selection {
   color: white;
   background: black;
}

::-webkit-scrollbar {
   display: none;
}

html, body {
   position: relative;
   width: 100%;
   min-width: 320px;
   min-height: 100vh;
   font-size: 62.5%;
   font-family: $en-base-font;
   font-weight: 400;
   color: #000;
   background-color: $Orange;
   // background-color: #FFA360;
   line-height: 1;
   text-rendering: optimizeLegibility;
   scrollbar-width: none;
   overflow-wrap: break-word;
}

svg {
   width: 100%;
   height: 100%;
   fill: currentColor;
}

.header, .footer, .home, .dots div, .title, .page {
   transition-delay: .1s;
   transition-timing-function: ease-out;
   transition: padding .5s, margin .5s, grid-column .5s, width .5s, height .5s;
}

a {
   margin: -.13em 0;
   transition-delay: .1s;
   transition-timing-function: ease-out;
   transition: font-size .5s;
}

.header {
   position: fixed;
   top: 0;
   width: 100%;
   padding: var(--alley);
   z-index: 999;
   pointer-events: none;
   .header__wrap {
      height: 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-flow: row-reverse;
      margin: auto;
      li {
         pointer-events: auto;
      }
   }
}

.arrow {
   display: flex;
   width: .7em;
   height: .7em;
   margin-bottom: .02em;
   margin-right: .5em;
   transform: rotate(-90deg);
}

.header--link {
   display: inline-block;
   margin-right: auto;
   // margin: var(--gutter) var(--gutter) 0;
   overflow: hidden;
   a {
      display: flex;
      align-items: center;
      .arrow {
         transform: rotate(45deg);
      }
   }
}

.footer {
   position: absolute;
   bottom: 0;
   left: 0;
   width: 100%;
   padding: 0 var(--alley) var(--alley);
   .footer__wrap {
      letter-spacing: -.03em;
      height: 10px;
      display: flex;
   }
}

.error {
   visibility: hidden;
   position: fixed;
   top: 0;
   left: 0;
   width: 100vw;
   color: white;
   background-color: black;
   display: flex;
   align-items: center;
   justify-content: center;
   pointer-events: none;
}

.home {
   position: relative;
   width: 100%;
   padding: 0 var(--alley);
   overflow: hidden;
}

.grid {
   position: relative;
   width: 100%;
   display: grid;
   grid-template-columns: 1fr;
   grid-template-rows: auto min-content min-content;
   padding-bottom: var(--alley);
}

.title {
   align-self: center;
   margin: calc(var(--gutter) * 2 + 1rem) 0;
   display: flex;

   .title--title {
      // font-family: "Mazius", serif;
      letter-spacing: -.03em;
      display: flex;
      margin-top: -.1em;
      margin-left: -.03em;
      margin-bottom: -.15em;

      span {
         display: block;

         &:nth-of-type(1) {
            margin-left: -.02em;
         }

         &:nth-of-type(2) {
            padding-right: .04em;
            margin-left: -0.03em;
         }

         &:nth-of-type(3) {
            padding-right: .015em;
         }
      }
   }

   .title--slash {
      margin-top: -.33em;
      margin-bottom: -1.25em;

      *::after {
         transform-origin: 100% 100%;
         transform: rotate(30deg);
         display: block;
         content: '';
         height: 1.25em;
         width: 1px;
         background-color: currentColor;
         margin-left: -1px;
      }
   }

   .title--year {
      grid-row: 2;
      grid-column: 2;
      align-self: flex-end;
      font-size: .3em;
      letter-spacing: -.04em;
      display: flex;
      margin-left: 1.1em;

      span {
         display: block;
         margin-bottom: -.2em;

         &:first-of-type {
            padding-right: .1em;
         }
      }
   }
}

.bio {
   padding-bottom: 4em;
   p:first-of-type {
      padding-bottom: .8em;
   }
}

.scroll {
   white-space: nowrap;
   align-self: end;
   display: flex;
   align-items: center;
}

.list {
   position: relative;
   min-height: 100vh;
   display: flex;
   justify-content: flex-start;
   align-items: center;
}

.list--head {
   position: absolute;
   left: 0;
   width: 100%;
   display: flex;
   justify-content: flex-end;
   align-items: center;

   li {
      height: 1rem;
      white-space: nowrap;
      display: flex;
      align-items: center;
      justify-content: center;
      transform-origin: right;
      transform: rotate(90deg) translateX(50%) translateY(50%);

      span {
         display: block;
         width: 2em;
      }
   }
}

.list--list {
   display: flex;
   flex-direction: column;
   align-self: center;
   margin: calc(var(--gutter) * 2) 0 calc(var(--gutter) * 2 + 1rem);
   counter-reset: num;
   gap: 4em;
   li {
      position: relative;
      display: flex;
      align-items: center;
      &::before,
      &::after {
         display: none;
         width: 1.2em;
         align-self: flex-end;
         position: absolute;
      }
      &:nth-of-type(odd)::before {
         counter-increment: num;
         content: counter(num, decimal-leading-zero);
         left: -2em;
      }
      &:nth-of-type(even)::after {
         counter-increment: num;
         content: counter(num, decimal-leading-zero);
         right: -2em;
      }
      a {
         position: relative;
         time {
            display: none;
            position: absolute;
            bottom: 0;
            padding-left: .5em;
            white-space: nowrap;
         }
      }
   }
}

.dots {
   position: fixed;
   width: 100vw;
   top: 0;
   left: 0;
   pointer-events: none;
   div {
      width: 90px;
      height: 90px;
      background-color: $Beige;
      border-radius: 50%;
      position: absolute;

      &.d-a {
         top: -4%;
         left: -2%;
      }

      &.d-b {
         top: 10%;
         left: 75%;
      }

      &.d-c {
         top: 52%;
         left: 20%;
      }

      &.d-d {
         top: 17%;
         left: 87%;
      }
   }
}

.page {
   position: relative;
   width: 100%;
   padding: 25vh var(--gutter);
   overflow: hidden;
}

@include mq(sm) {
   :root {
      --gutter: 6.66666666667vw;
      --gap: 2.5vw;
   }
   .grid {
      grid-template-columns: repeat(6, 1fr);
      max-width: 90%;
   }

   .title {
      grid-column: 1 / span 6;
   }

   .bio {
      grid-column: 4 / span 3;
      padding-bottom: 0;
   }

   .scroll {
      grid-row: 2;
      grid-column: 2;
   }

   .list {
      justify-content: center;
   }

   .list--list {
      align-items: center;
      li {
         &::before, &::after {
            display: block;
         }
      }
   }
}

@include mq(md) {
   :root {
      --gutter: 6.25vw;
      --alley: 8.33333vw;
      --gap: 2.08333vw;
      --content-space: 10vw;
   }
   .dots {
      div {
         width: 12.5vw;
         height: 12.5vw;
      }
   }
   .bio {
      grid-column: 4 / span 2;
   }
   .max-width, figcaption {
      max-width: 90%;
      margin-right: auto;
      margin-left: auto;
   }
   .header--link {
      a {
         .arrow {
            transition: transform .5s;
         }
         &:hover {
            .arrow {
               transform: rotate(0);
               transition: transform .5s;
            }
         }
      }
   }
}

@include mq(lg) {
   :root {
      --gutter: 3.90625vw;
      --alley: 6.25vw;
      --gap: 1.5625vw;
   }
   .max-width, figcaption {
      max-width: 75%;
   }
   .bio {
      grid-column: 5 / span 2;
   }
}

/*# sourceMappingURL=style.css.map */
